.swiper {
    width: 95%;
}

.swiper-slide {
    height: 100%;
    line-height: 300px;
}


.swiper-button-prev:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    z-index: 1000;
    background-color: red;
}


.swiper-button-next:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    z-index: 1000;
    background-color: green;
}

.swiper-slide.swiper-slide-visible {
    width: 100%;
    justify-self: flex-start    ;
    align-items: flex-start;
}